[Service]
# If thaum.conf omits [server.database].db_url (bundled PostgreSQL in the container), omit the
# thaum-db-url line below and do not create /etc/credstore.encrypted/thaum-db-url.
LoadCredentialEncrypted=thaum-db-url:/etc/credstore.encrypted/thaum-db-url
LoadCredentialEncrypted=thaum-db-passphrase:/etc/credstore.encrypted/thaum-db-passphrase
LoadCredentialEncrypted=atlassian-api-token:/etc/credstore.encrypted/atlassian-api-token
LoadCredentialEncrypted=webex-token-database:/etc/credstore.encrypted/webex-token-database
